*{
    margin: 0;
    padding: 0;
    background-color: #faebd7;
}
body {
  color:rgb(0, 0, 0);
  font-size:25px;
  background-color:#faebd7;
  justify-items: center;
}
.logo{
    width: 100%;
    text-align: center;
    margin: 10px;
}
.text_box{
    margin-top: 50px;
    width: 100%;
    position: absolute;
    text-align: center;
    border: none;
    border-radius: 4px;
}
.text_box a{
    color: black;
    margin-top: 10px;
    text-decoration: none;
    cursor: pointer;
}
.text_box a:hover{
    color: white;
    cursor: pointer;
}